*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.login{}
/*头部开始*/

.product::after{
    clear: both;
    display: table;
    content: '';
}
.product{
    width: 10rem;
    height: 1rem;
    margin:0 auto;
    line-height: 1rem;
    background: #de06a5;
    /*position: fixed;
    z-index: 10;*/
}
.product a{
    display: inline-block;
    text-align: center;
}

.product a:nth-child(1){
    width: 1.5rem;
}
.product a:nth-child(2){
    width: 6.6rem;
    color: #ffffff;
    font-size: 16px;
}
[data-dpr="2"] .product a:nth-child(2){
    font-size: 32px;
}
[data-dpr="3"] .product a:nth-child(2){
    font-size: 48px;
}
.product a:nth-child(3){
    width: 1.5rem;

}

.iconfont{
    font-size: 0.6rem;
    color: #fff;
}

/*头部结束*/

.login form {
    width: 10rem;
    padding: 0 0.5rem;
    margin: auto;
}

.login form label {
    font-size: 0.4rem;
    font-weight: bold;
    color: #2c2c2c;
    display: block;
    float: left;
    width: 2rem;
    text-align: right;
    padding-top: 20px;
}

.login form p {
    /*padding-left: 10px;*/
}

.login form input {
    width: 6rem;
    height: 1.1rem;
    border: 1px solid #dedede;
    /*padding-left: 10px;*/
    font-size: 0.35rem;
    padding: 0 15px;
}

.login form #yanzhengp {
    clear: both;
}

.login #yanzheng {
    width: 3.8rem;
    float: left;
}

.login form a#button {
    text-align: center;
    /*width: 80px;*/
    height: 1.1rem;
    line-height: 1.1rem;
    width: 2.2rem;
    font-size: 0.35rem;
    float: left;
    border: none;
    color: #f1fcfe;
    background: #0175d8;
    cursor: pointer;
    text-decoration: none;
}

.login form i {
    display: block;
    background: url("../img/sprite.png");
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

.login form .p2 {
    margin-top: 40px;
}

.login form .p1 {
    padding-left: 2rem;
    padding-top: 0.1rem;
    font-size: 0.33rem;
}

.login form .i2 {
    display: block;
    background: url("../img/sprite.png");
    background-position: -25px 26px;
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

.login form .i3 {
    display: block;
    background: url("../img/sprite.png");
    background-position: -23px 50px;
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
}

.login .ckit {
    width: 0.6rem;
    float: left;
    padding-left: 1rem;
    text-align: center;
    margin-left: 0.5rem;
}

.login .ckit-w {
    width: 9rem;
    height: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    font-size: 0.4rem;
    padding-left: 0.2rem;
}

.login .p3 {
    margin: auto;
    text-align: center;
}

.login .p3 input {
    width: 8rem;
    font-size: 0.4rem;
    background: red;
    color: #fff;
}

.login .yyzh {
    width: 8rem;
    margin: auto;
    padding-top: 0.3rem;
    font-size: 0.35rem;
}